@import '../../_theme.scss';

.page {
    display: flex;
    flex-direction: column;
    font-family: $font__main;
    background-color: #000;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    text-align: center;
}

.top-section {
    padding: 35px 0 35px 0;
}

.title {
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-weight: 100;
}

h3 {
    color: #fff;
    text-align: center;
    font-size: 18px;
}

.report-form {
    margin-top: 35px;
    margin: 0 auto;
}

.alien-report-fields {
    text-align: left;
    width: 85%;
    margin-left: 30px;
}

.alien-type {
    color: $site__color__accent;
    font-size: 20px;
    background: #000;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #fff;
    width: 100%;
    padding-left: 10px;
    -webkit-appearance: none; /*removes dropdown arrow */
}

select {
    display: block;
    margin: 0 auto;
}

select option {
    background: #fff;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    color: $site__color__accent;
    height: 175px;
    width: 96%;
    margin-top: 18px;
    padding: 5px;
}

.submit-report-button {
    @include button;
    margin-top: 40px;
}

.invalid-input-msg {
    color: $invalid__msg__color;
    font-size: 1.5rem;
    text-align: center;
}


