.page {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #000;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    text-align: center;

}

.title {
    text-align: center;
    font-size: 36px;
    font-weight: 100;
    padding-top: 35px;
}

p {
    text-align: center;
    font-size: 18px;

}

.alien-list {
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
    text-align: left;
    width: 98%;
}

.alien-type {
    color: #ed403e;
    background: #000;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #fff;
    width: 97%;
    padding-top: 30px;
    padding-left: 10px;
    /*margin-left: 25px;*/
    -webkit-appearance: none; /*removes dropdown arrow */
}

select {
    display: block;
    margin: 0 auto;
    font-size: 15px;
}

select option {
    background: #fff;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    color: #ed403e;
    height: 200px;
    width: 96%;
    margin-top: 18px;
    padding: 5px;
}

.submit-btn {
 padding-top: 25px;
 text-align: center;
}

.submit-button {
    font-family: "Roboto", sans-serif;
    color: #fff;
    background-color: #000;
    border: 0;
    font-size: 35px;
    padding: 50px;
}

