.page {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #000;
    height: 100vh;
    width: 100vw;
    text-align: center;

}

.title {
    text-align: center;
    font-size: 36px;
    font-weight: 100;
    padding-top: 35px;
}

p {
    text-align: center;
}

.submit-button {
    background-color: #000;
    color: #fff;
    font-size: 35px;
    padding: 50px;
}

.alien-list {
    text-align: left;
}