.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    color: #fff;
    background-color: #000;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    text-align: center;

}

.title {
    text-align: center;
    font-size: 46px;
    font-weight: 100;
    vertical-align: middle;
}

.warning-colour {
    color: red;
}

p {
    text-align: center;
    font-size: 18px;

}
