@import '../../_theme.scss';

.page {
    display: flex;
    flex-direction: column;
    font-family: $font__main;
    text-align: center;
    color: #000;
    background-color: #fff;
    height: 100vh;
    width: 100vw;
}

.top-section {
    padding: 35px 0 35px 0;
}

.title {
    font-size: 36px;
}

h3 {
    color: #000;
    text-align: center;
    font-size: 18px;
}

.encounters-list {
    text-align: left;
    padding: 0 1rem 2rem;
    overflow: scroll;
    text-align: left;
}

.encounters-list li {
    padding: 10px;
    color: green;
    font-weight: bold;
}

.encounters-list p {
    font-weight: normal;
}

.report-btn {
    padding: 25px 0 0 25px;
}

.report-button {
    @include button;
}
