.page {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #000;
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

.top-section {
    padding: 35px 0 35px 0;
}

.title {
    text-align: center;
    font-size: 36px;
    font-weight: 100;
    // padding-top: 35px;
}

p {
    text-align: center;
}

.encounters-list {
    text-align: left;
    padding: 0 1rem 2rem;
    overflow: scroll;
}

.encounters-list li {
    padding: 5px;
}

.encounters-list p {
    text-align: left;
}

.report-btn {
    padding-top: 25px;
    text-align: center;
    background: #000;
    width: 100vw;
 
}

.report-button {
    font-family: "Roboto", sans-serif;
    background-color: #000;
    color: #fff;
    font-size: 35px;
    padding: 50px;
    border: 0;
}
