// Variables

$font__main: "Roboto", sans-serif;
$site__color__accent: #ed403e;
$invalid__msg__color: red;

// Mixins
@mixin button {
    font-family: $font__main;
    font-size: 35px;
    color: #fff;
    background: #000;
    border: 0;   
    width: 100%;
    height: 83px;
}