@import '../../_theme.scss';

.page {
    display: flex;
    flex-direction: column;
    font-family: $font__main;
    color: #fff;
    background: linear-gradient( 0deg, #f27b7b,#353434 );
    height: 100vh;
    width: 100vw;
}

.top-section {
    margin: 50px;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
}

.button {
  align-self: center;
}

.fingerprint {
  width: 147px;
  height: 200px;
  box-shadow: 0px 0px 14px 7px rgba(255,255,255,0.1);
  border-radius: 100%;
  animation: pulse 4s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 2px rgba(255,255,255, 0.1);
  }
  
  50% {
    box-shadow: 0 0 0 4px rgba(255,255,255, 0.4);
  }
  
  100% {
      box-shadow: 0 0 0 10px rgba(255,255,255, 0);
  }
}

.bottom-section {
  margin: 100px 0;
}
.tap-message {
    text-align: center;
    font-size: 32px;
    line-height: 2px;
}