@import '../../_theme.scss';

.page {
    display: flex;
    flex-direction: column;
    font-family: $font__main;    
    background-color: #000;
    height: 100vh;
    width: 100vw;

}

.title {
    text-align: center;
    font-size: 36px;
    color: $font__color__main;
    padding: 35px 0 22px 0;
}

form {
    margin: 0 33px;
}

.register-form {
    margin: 0 auto;
}

input {
    display: block;
    color: #fff;
    font-size: 20px;
    background: #000;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid white;
    width: 82vw;
    padding: 12px 0 5px 10px;
}

// Turns off number spinner (arrows)
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input::-webkit-input-placeholder {
  color: #ed403e;
}

.invalid-input {
    box-shadow: 0 0 1em red;
}

.invalid-input-msg {
    color: red;
    font-size: 1.5rem;
    text-align: center;
}

.select-occupation {
    font-size: 20px;
    color: #ed403e;
    background: #000;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #fff;
    width: 84.5vw;
    padding: 14px 0 0 10px;
    -webkit-appearance: none; //removes dropdown arrow
}

select option {
    background: #fff;
}

.register-button {
    @include button;
}