<div class = "page">
  <h2 class="title">Register</h2>
  <form class="register_form">
    <fieldset>
      <input type="text" ng-model="" placeholder="Name"/>
      <input type="number" ng-model="" placeholder="Age" />
      <select class="select-occupation" name="select occupation">
          <select required>
              <option value="(none)">Select an occupation</option>
      </select>
    </fieldset>
    <fieldset class="reg-button">
      <a routerLink="/encounters"><button class="register-button" type="submit" ng-model="">Check in</button></a>
    </fieldset>
  </form>
</div>

