.page {
    font-family: 'Roboto', sans-serif;
    // color: #fff;
    background-color: #000;
    height: 100vh;
    width: 100vw;
}

.title {
    text-align: center;
    font-size: 36px;
    color: #fff;
    font-weight: 100;
    padding-top: 35px;
    padding-bottom: 33px;
}

form {
    width: 95%;
}

.register-form {
    padding: 50px;
}

input {
    display: block;
    /*font-family: "Roboto", sans-serif;*/
    color: #fff;
    font-size: 18px;
    background: #000;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid white;
    width: 93vw;
    padding-top: 12px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-left: 30px;
}

// Turns off number spinner (arrows)
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input::-webkit-input-placeholder {
  color: #ed403e;
}

.invalid-input {
    box-shadow: 0 0 1em red;
}

.invalid-input-msg {
    color: red;
    font-size: 1.5rem;
    line-height: 2;
}

.select-occupation {
    font-size: 18px;
    color: #ed403e;
    background: #000;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #fff;
    width: 98%;
    padding-top: 30px;
    padding-left: 10px;
    margin-left: 25px;
    -webkit-appearance: none; //removes dropdown arrow
}

select option {
    background: #fff;
}

.reg-btn {
 padding-top: 150px;
 text-align: center;
}

.register-button {
    color: #fff;
    background: #000;
    border: 0;
    font-family: "Roboto", sans-serif;
    font-size: 35px;
}


/*form {
    display: flex;
    flex-direction: column;
    border-top: 0 solid #000;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-bottom: 1px solid #fff;
    background: #000;
    box-shadow: 0 0 5px #5cd053;
    border-color: #000;
}*/