.page {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #000;
    height: 100vh;
    width: 100vw;
}

.title {
    text-align: center;
    font-size: 36px;
    font-weight: 100;
}